@media (min-width: 768px) {
    div.toolbox{
        position: fixed;
        top:51px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y:auto;
        bottom: 0px;
    }
    div.mapzone{
        padding-left: 50px;
        overflow-x: auto;
        overflow-y:auto;
    }
}

div.block_row{
    margin:0px;
    padding:0px;
    height:10px;
}

div.block{
    width:10px;
    height:10px;
    display:inline-block;
}

div.block:hover{
    border:1px solid black;
}

div.W{
    background-color:#556B2F;
}

div.E{
    background-color:#DEB887;
}

div.P{
    background-color:#7FFF00;
}

div.G{
    background-color:#7FFFD4;
}

div.D{
    background-color: #E0F8E0;
}

div.object{
    background-color:red;
    z-index:100;
    width:30px;
    height:30px;
    margin:10px;
}

.unvisible{
    background-color:#A9A9A9 !important;
}
