{% extends '_base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}
    {% trans 'Map' %}
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{% static 'js/maze/map.js' %}"></script>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static 'css/maze/map.css' %}" />
        
{% endblock %}

{% block main_content %}
    <a href="/create_map/" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans 'Create A Map' %}</a>
    <div class="row" id="map_row">
    </div>
{% endblock %}