{% extends '_base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block title %}
    {% trans 'Maze Game' %}
{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="{% static 'js/maze/map.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            load_all_maps();
        });
    </script>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static 'css/maze/map.css' %}" />
        
{% endblock %}

{% block main_content %}
    
    <div class="alert-success" role="alert" id="load_success" style="display: none;">{% trans 'Map has been loaded successful!' %}</div>
    <div class="alert-danger" role="alert" id="load_error" style="display: none;">{% trans 'Error in loading map' %}</div>
    <div class="alert-info" role="alert" id="load_info" style="display: none;">{% trans 'Map is Loading...' %}</div>
    
    <div class="row" id="map_row">
    </div>
{% endblock %}